---
layout: page
title: Blog
description: Reflections on finding health and happiness
header-img: img/home-bg.jpg
---

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in site.posts %}
                {% if post.categories contains 'blog' %}
                      <div class="post-preview">
                        <a href="{{post.url}}">
                          <h4 class="post-title">
                            {{ post.title }}
                        </h4>
                        </a>
                        <p class="post-meta"> {{ post.date | date: "%b %d, %Y" }}</p>
                      </div>
                      <hr>
                {% endif %}
            {% endfor %}

          <!-- Pager -->
          <!-- <div class="clearfix">
            <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
          </div> -->
        </div>
      </div>
    </div>
